.videorow{
    display: flex;
    margin-bottom: 30px;
    max-width: 700px;
}
.videorow >img{
    object-fit: contain;
    width:246px;
    height:138px;
}
.video-text{
    margin-left: 14px;
}
.video-description{
    margin-top: 20px;
    font-size: 12px;
    color:#606060
}
.video-headline{
    font-size: 12px;
    color:gray;
}
.video-subs{
    color:rgb(84,157,211);
    font-weight: bolder;

}
.subs{
    background-color: lightgray;
    padding: 2px;
}